body {
  font-family: Arial, sans-serif;
}

a {
  color: blue; /* This will make all links blue */
}

#table-of-contents {
  overflow-y: scroll;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px; /* Or whatever width you prefer */
  padding: 1em;
}

#main-content {
  margin-left: 250px; /* This should match the width of the ToC */
  padding: 1em;
}

/* Add additional styles as needed */
